language: python

python:
    - "2.6"
    - "2.7"

install:
    - pip install --use-mirrors -r requirements.txt
    - pip install --use-mirrors -r requirements-test.txt
    - python setup.py install

script:
  - rake lint
  - nosetests tests/unit tests/integration
